@using NuGet.Common
@model UniversityRanking.Models.PagingListAsync<UniversityRanking.Models.University.University>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CancellationToken token = CancellationToken.None;
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.GetAsyncEnumerator(token).Current.UniversityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.GetAsyncEnumerator(token).Current.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@await foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryName)
            </td>
            <td>
                <a asp-action="ScoresByYear" asp-route-universityId="@item.Id" asp-route-rankingSystemId="1" 
                   asp-route-rankingSystemName="Times Higher Education World University Ranking" asp-route-NameUniversity="@item.UniversityName"
                   >Times Higher Education World University Ranking</a> |
                <a asp-action="ScoresByYear" asp-route-universityId="@item.Id" asp-route-rankingSystemId="2" 
                   asp-route-rankingSystemName="Shanghai Ranking" asp-route-NameUniversity="@item.UniversityName"
                   >Shanghai Ranking</a> |
                <a asp-action="ScoresByYear" asp-route-universityId="@item.Id" asp-route-rankingSystemId="3"
                   asp-route-rankingSystemName="Center for World University Rankings" asp-route-NameUniversity="@item.UniversityName"
                >Center for World University Rankings</a>
                <td>
                    
                    <a asp-action="CreateRanking" asp-route-universityId="@item.Id" class="btn btn-outline-success btn-sm">
                        Add Ranking
                    </a>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Books page navigation"> 
    <ul class="pagination"> 
        @if (Model.IsPrevious) 
        { 
            <li class="page-item">
                <a class="page-link" 
                   asp-controller="University" 
                   asp-action="Index" 
                   asp-route-page="@(1)" 
                   asp-route-size="@Model.Size">
                    Pierwsza
                </a>
            </li> 
            <li class="page-item">
                <a class="page-link" 
                   asp-controller="University" 
                   asp-action="Index" 
                   asp-route-page="@(Model.Page - 1)" 
                   asp-route-size="@Model.Size">
                    Poprzednia
                </a>
            </li> 
        } 
        else 
        { 
            <li class="page-item disabled">
                <a class="page-link">Poprzednia</a>
            </li> 
        } 
        <li class="page-item disabled">
            <a class="page-link" >@Model.Page</a>
        </li> 
        @if (Model.IsNext) 
        { 
            <li class="page-item">
                <a class="page-link" 
                   asp-controller="University" 
                   asp-action="Index" 
                   asp-route-page="@(Model.Page + 1)" 
                   asp-route-size="@Model.Size">
                    Następna
                </a>
            </li> 
            <li class="page-item">
                <a class="page-link" 
                   asp-controller="University" 
                   asp-action="Index" 
                   asp-route-page="@(Model.TotalPages)" 
                   asp-route-size="@Model.Size">
                    Ostatnia
                </a>
            </li> 
        } 
        else 
        { 
            <li class="page-item disabled">
                <a class="page-link">Następna</a>
            </li> 
        } 
    </ul>
</nav>